
.logo {
    margin: 0;
    padding: 0;
    background: #444;
}
body {
    margin: 0;
    padding: 0;
    background: #ccc;
}

.nav ul {
    list-style: none;
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
}
.nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
}

.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}

.nav a:hover {
    background-color: #005f5f;
}

.nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}

@media screen and (min-width: 600px) {
    .nav li {
        width: 120px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
    }

    .nav li {
        display: inline-block;
        margin-right: -4px;
    }

    body {
    font-family: Helvetica, sans-serif;
    padding: 5%;
    text-align: center;
}

#slideshow {
    overflow: hidden;
    height: 510px;
    width: 100%;
    margin: 0 auto;
}

.slide-wrapper {
    width: 2912px;
    -webkit-animation: slide 18s ease infinite;
}

.slide {
    float: left;
    height: 510px;
    width: 728px;
}

.slide:nth-child(1) {
    background: #444;

}

.slide:nth-child(2) {
    background: #444;
}

.slide:nth-child(3) {
    background: #444;
}

.slide:nth-child(4) {
    background: #444;
}

.slide-number {
    color: #000;
    text-align: center;
    font-size: 10em;
}

@-webkit-keyframes slide {
    20% {margin-left: 0px;}
    30% {margin-left: -728px;}
    50% {margin-left: -728px;}
    60% {margin-left: -1456px;}
    70% {margin-left: -1456px;}
    80% {margin-left: -2184px;}
    90% {margin-left: -2184px;}
}

.images {
    max-width: 30%;
    height: auto;

}
.sec {
    display: flex;
}

.photos {
    flex: 33.33%;
    padding: 5px;
}

